/**
 * OVERVIEW
 *
 * This project is separated to the following style sheets:
 *
 * base.css.............Global rules and helpers.
 * layout.css...........CSS rules that control the layout of the page.
 * components.css.......Own CSS for the components that build up the page.
 */


/**
 * CONTENTS
 *
 * SETTINGS
 * Variables............Globally-available variables.
 * Box-sizing...........Better default `box-sizing`.
 * Margins..............Top and bottom margins global values.
 *
 * BASE STYLES
 * Headings..   

...........H1-H2-h3 styles.
 * Base font............Base font style.
 *
 */


/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

*:root{
   --dropbtnAfterWidth:   40%;
   --primary-font-color:  black;
 }


/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

*{
	box-sizing:border-box;
}


/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

*{
  margin:  0;
  padding: 0;
}


/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1 {
  font-size:  1.4rem;
  padding:    4rem 0rem 1rem;
}

h2 {
	font-size: 1.3rem;
}

h3 {
	font-size:  1.2rem;
	padding:    1rem 0rem;
	
}

/*------------------------------------*\
  #BASE-FONT
\*------------------------------------*/
	html {
  font-size:  1rem;
  font-family: "Times New Roman", Arial, curier;
  color:       var(--primary-font-color);
}
