@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');

*:root {
  --primary-font-color: rgb(55, 51, 51);
}


* {
  box-sizing: border-box;
}



* {
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 1.4rem;
  font-style:italic;
  padding: 4rem 0rem 1rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
  padding: 1rem 0rem;

}


html {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  }


body {
  background:white;
  background-size: cover;
  text-align: center;
  overflow: hidden auto;
  width: calc(100%-10vw);
  display: grid;
  grid-template-areas: "header header header"
    "menu main sidebar"
    "footer footer footer";
  grid-template-columns: 250px 1fr 300px;
  grid-template-rows: 120px 1fr 120px;
  grid-gap: 5px;
  height: 100vh;
}

@media (max-width:768px) {
  body {
    grid-template-areas:
      "header"
      "menu"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows: 100px 90px 1fr 600px 100px;
  }
}

.header {
  grid-area: header;
  background-color:rgb(49, 49, 119);
  color:cyan;
  font-size: 1.4rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  grid-area: menu;
  background: linear-gradient(75deg, cyan, white);
}

.main {
  grid-area: main;
  background: linear-gradient(75deg, cyan, white);
}

.sidebar {
  grid-area: sidebar;
  background: linear-gradient(75deg, cyan ,white);
}

.footer {
  grid-area: footer;
  text-align: center;
  padding: 1.5rem;
  width: 100vw;
  color: white;
  background: rgb(49, 49, 119););
}

.footer a {
  text-decoration: none;
  color:rgb(239, 165, 29);
}

.footer>a:hover {
  opacity: .5;
}


.menu {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.menubtn {
  background-color: rgb(49, 49, 119);
  color: rgb(231, 163, 37);
  padding: 1rem 3rem;
  font-size: 1.3rem;
  font-weight: 900;
  position: relative;
  z-index: 0;
  border-radius: 0px;
  overflow: hidden auto;
}

.menubtn:focus {
  outline: none;
}

.menu-content {
  display: none;
  position: absolute;
  background-color:rgb(49, 49, 119);
  color: white;
  min-width: 1rem;
  border-radius: 0px;
  z-index: 0;
  width: 100%;
}


.menu-content a {
  color: white;
  padding: .5rem .5rem;
  text-decoration: none;
  display: block;
}

.menu-content a:hover {
  background-color:rgb(231, 163, 37);
}


.menu:hover .menu-content {
  display: block;
}


.menu-content> :first-child {
  color:white;
}

iframe {
  margin-top:15rem;
}

section {
  text-align: justify;
  line-height: 1.5;
  padding: 1rem;
}

section> :first-child {
  font-style: italic;
  font-weight: bold;
}

ul {
  list-style-type: circle;
  padding-left: 1rem;
}

.fly-in {
  height: 30rem;
  overflow: hidden auto;
  position: relative;
  left: 0;
}

.fly-in span {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: justify;
  animation: fly-in 3s linear;
}

@keyframes fly-in {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 20px;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin: .5rem .5rem;
  transition: all 1s;
}



.img:hover {
  transform: scale(1.1);
}


figcaption {
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

@media (max-width:768px) {
  .img{
    zoom: 50%;
  }

   .menubtn {
    height:90px;
  }

   .footer {
    height:200px;
  }

  iframe {
    visibility:hidden;
  }
}


