/**Base.css/
/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

*:root {
  --dropbtnAfterWidth: 40%;
  --primary-font-color: black;
}


/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* {
  box-sizing: border-box;
}


/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

* {
  margin: 0;
  padding: 0;
}


/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1 {
  font-size: 1.4rem;
  padding: 4rem 0rem 1rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
  padding: 1rem 0rem;

}

/*------------------------------------*\
  #BASE-FONT
\*------------------------------------*/
html {
  font-size: 1rem;
  font-family: "Times New Roman", Arial, curier;
  color: var(--primary-font-color);
}

/*Layout.css*/
/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

body {
  background-color: white;
  text-align: center;
  overflow: hidden auto;
  width: calc(100%-10vw);
  display: grid;
  grid-template-areas: "header header header"
    "menu main sidebar"
    "footer footer footer";
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 120px 1fr 120px;
  grid-gap: 5px;
  height: 100vh;
}

.main0 {
  background: linear-gradient(white, rgb(133, 229, 232));
}

.main1 {
  background: linear-gradient(white, rgb(210, 150, 160));
}

.main2 {
  background: linear-gradient(white, rgb(134, 200, 223));
}

.main3 {
  background: linear-gradient(white, rgba(204, 152, 54, 0.711));
}


/*------------------------------------*\
  #MODIFIERS
\*------------------------------------*/

@media (max-width:768px) {
  body {
    grid-template-areas:
      "header"
      "menu"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows: 100px 90px 1fr 600px 100px;
  }
}

.header {
  grid-area: header;
  background-color: black;
  color: rgb(247, 220, 232);
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  grid-area: menu;
  background: linear-gradient(white, rgb(237, 237, 37));
}

.main {
  grid-area: main;
  background: linear-gradient(white, lightgreen);
}

.sidebar {
  grid-area: sidebar;
  background: linear-gradient(white, rgb(10, 127, 245));
}

.footer {
  grid-area: footer;
  text-align: center;
  padding: 1.5rem;
  width: 100vw;
  color: white;
  background: black;
}

.footer a {
  text-decoration: none;
}

.footer>a:hover {
  color: green;
}

/*Components.css*/

/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.menu {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.menubtn {
  background-color: rgb(22, 25, 22);
  color: rgb(243, 163, 13);
  margin-top: 2vh;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  font-weight: 900;
  position: relative;
  z-index: 0;
  border-radius: 0px;
  overflow: hidden auto;
}

.menubtn:focus {
  outline: none;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: rgb(65, 60, 55);
  color: rgb(205, 188, 188);
  min-width: 1rem;
  border-radius: 0px;
  z-index: 0;
  width: 100%;
}


.menu-content a {
  color: rgb(121, 102, 102);
  padding: .5rem .5rem;
  text-decoration: none;
  display: block;
}

.menu-content a:hover {
  background-color: black;
  color: white;
}


.menu:hover .menu-content {
  display: block;
}


.menu:hover .menubtn {
  background-color: rgb(233, 212, 16);
  color: white;
}

.menu-content> :first-child {
  color: rgb(218, 216, 81);
}


/*------------------------------------*\
  #MAIN CONTENT
\*------------------------------------*/

section {
  text-align: justify;
  line-height: 1.5;
  padding: 1rem;
}

section> :first-child {
  font-style: italic;
  font-weight: bold;
}

ul {
  list-style-type: circle;
  padding-left: 1rem;
}

.fly-in {
  height: 30rem;
  overflow: hidden auto;
  position: relative;
  left: 0;
}

.fly-in span {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: justify;
  animation: fly-in 3s linear;
}

@keyframes fly-in {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 20px;
}

.img {
  height: 100%;
  width: 100%;
  opacity: .7;
  border: 1px solid white;
  border-radius: 2px;
  margin: .5rem .5rem;
  transition: all 1s;
}



.img:hover {
  transform: scale(1.1);
  opacity: 1;
}


figcaption {
  color: black;
  font-size: 1rem;
}

@media (max-width:768px) {
  .container {
    zoom: 50%;
  }

  .menubtn {
    height:80px;
  }

  .img {
    opacity: .5;
  }
  .img:hover {
    transform: scale(1);
    opacity: 1;
  }
  .footer {
    height:150px;
  }
}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/